<% provide(:title) %>
<div class="center jumbotron">
  <h1>Welcome to Pollman</h1>

  <h2>Join us and Poll it.</h2>
  <p>If you want to make some poll among your community, Pollman helps you!</p>
  <%= link_to "Sign up and poll", "#", class: "btn btn-lg btn-primary" %>
</div>